<h1>Listing themes</h1>

<table>
  <thead>
    <tr class="entete">
      <th>Id <%= link_to "(sort)", themes_path(sort: "id") %></th>
      <th>Name <%= link_to "(sort)", themes_path(sort: "name") %></th>
      <th>Anecdote <%= link_to "(sort)", themes_path(sort: "anecdote_id") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.id %></td>
        <td><%= theme.name %></td>
        <td><%= theme.anecdote_id %></td>
        <td><%= link_to 'Show', theme %></td>
        <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
        <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme', new_theme_path %>
