<h1>Aperçu de : <%= @anecdote.subject %></h1>

<div class="contenu">

  <h2><%= @anecdote.subject %></h2>

  <p>
    <strong>Subject:</strong>
    <%= @anecdote.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @anecdote.description %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <% if (@anecdote.chapter_id.blank?) then %>
      Nil
    <% else %>
      <%= @anecdote.chapter_id %>
    <% end %>
  </p>

  <p>
    <strong>Chapter title:</strong>
    <% if (@anecdote.chapter_id.blank?) then %>
      Nil
    <% else %>
      <%= link_to @anecdote.chapter.title, @anecdote.chapter %>
    <% end %>
  </p>

  <p>
    <strong>Themes:</strong>
    <% if (@anecdote.themes.blank?) then %>
      Nil
    <% else %>
      <ul>
      	<%- @anecdote.themes.each do |theme|  %>
      		<li><%= link_to theme.name, theme %></li>
      	<%- end %>
      </ul>
    <% end %>
  </p>
</div>

<p class="action">
  <%= link_to 'Edit', edit_anecdote_path(@anecdote) %> |
  <%= link_to 'Back', anecdotes_path %>
</p>
