<h1>Listing scenes</h1>

<h2> Plus d'info sur une scene ?</h2> 

<h2> Cliquer sur l'action "Show" ci dessous pour voir le récapitulatif des dépendances avec les personnages.</h2>

<table>
  <thead>
    <tr class="entete">
      <th>Id <%= link_to "(sort)", scenes_path(sort: "id") %></th>
      <th>Name <%= link_to "(sort)", scenes_path(sort: "name") %></th>
      <th>Narrative</th>
      <th>Place</th>
      <th>Period</th>
      <th>Chapter <%= link_to "(sort)", scenes_path(sort: "chapter_id") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.id %></td>
        <td><%= scene.name %></td>
        <td><%= scene.narrative %></td>
        <td><%= scene.place %></td>
        <td><%= scene.period %></td>
        <td><%= scene.chapter_id %></td>
        <td><%= link_to 'Show', scene %></td>
        <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
        <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="action">
  <%= link_to 'New Scene', new_scene_path %>
</p>