<h1>Aperçu de : <%= @scene.name %></h1>

<div class="contenu">

  <h2><%= @scene.name %></h2>

  <p>
    <strong>Name:</strong>
    <%= @scene.name %>
  </p>

  <p>
    <strong>Narrative:</strong>
    <%= @scene.narrative %>
  </p>

  <p>
    <strong>Place:</strong>
    <% if (@scene.place.blank?) then %>
      Nil
    <% else %>
      <%= @scene.place %>
    <% end %>
  </p>

  <p>
    <strong>Period:</strong>
    <% if (@scene.period.blank?) then %>
      Nil
    <% else %>
      <%= @scene.period %>
    <% end %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <% if (@scene.chapter_id.blank?) then %>
      Nil
    <% else %>
      <%= @scene.chapter_id %>
    <% end %>
  </p>

  <p>
    <strong>Chapter title:</strong>
    <% if (@scene.chapter_id.blank?) then %>
      Nil
    <% else %>
      <%= link_to @scene.chapter.title, @scene.chapter %>
    <% end %>
  </p>

  <p>
    <strong>Characters:</strong>
    <% if (@scene.chapter_id.blank?) then %>
      Nil
    <% else %>
      <ul>
        <%- @scene.characters.each do |character|  %>
          <li><%= link_to character.name, character %></li>
        <%- end %>
      </ul>
    <% end %>
  </p>

</div>

<p class="action">

  <%= link_to 'Edit', edit_scene_path(@scene) %> |
  <%= link_to 'Back', scenes_path %>

</p>