<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @character.role %>
</p>

<p>
  <strong>Scene:</strong>
  <% if (@character.scene_id.blank?) then %>
  	Nil
  <% else %>
  	<%= @character.scene_id %>
  <% end %>
</p>

<p>
  <strong>Scene name:</strong>
  <% if (@character.scene_id.blank?) then %>
  	Nil
  <% else %>
  	<%= link_to @character.scene.name, @character.scene %>
  <% end %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
