<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @character.role %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @character.scene_id %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
