<h1>Listing chapters</h1>

<h2> Pour plus d'information sur les chapitres, cliquer sur l'action "Show" ci dessous.</h2>

<table>
  <thead>
    <tr class="entete">
      <th>Id <%= link_to "(sort)", chapters_path(sort: "id") %></th>
      <th>Number <%= link_to "(sort)", chapters_path(sort: "number") %></th>   <!-- Pour permettre le tri-->
      <th>Title <%= link_to "(sort)", chapters_path(sort: "title") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.id %></td>
        <td><%= chapter.number %></td>
        <td><%= chapter.title %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path %>
